body{
    background-color:black;
}

#responsive-image{
    width: 90vw;
    height: 45%;
    margin-left: 2.5%;
    margin-top: 10%;
    
}

.info{
    position: relative;
    text-align:center;
    font-size: 3vw;
}

.icons{
    position: relative;
    background-color: chartreuse;
}

p{
    cursor: pointer;
    color: white;
}

p:hover{
    color: gray;
}

a{
    text-decoration-line: none;
}